html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    border-top: #666;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-item {
    text-align: center;
    flex: 1;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

/* Styles personnalisés pour le formulaire de recherche dans la navbar */
.navbar .form-inline {
    display: flex;
    align-items: center;
}

.navbar .form-inline .form-control {
    width: auto;
    margin-right: 10px;
}

.navbar .form-inline .btn {
    margin-top: 0;
}


/* Styles personnalisés pour les listes de listes */

.list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.task-list-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    background-color: #f9f9f9;
}

.task-list-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.task-list-description {
    font-size: 1rem;
    color: #666;
}

.no-task-lists {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}

@media screen and (max-width: 320px) {
    .container mt-4{
        width: 100%;
    }
}

.list-group-item
{ background-color: #f0f0f0; }
.rouge { background-color: #ffdddd; }
.orange { background-color: #ffe5b4; }
.jaune { background-color: #ddffdd; }

h1 {
    text-align: center;
}
.icon{
    height: 20px;
    width: auto;
    vertical-align: middle;
    margin-left: 5px;
}
.icon-link {
    text-decoration: none;
    color: inherit;
}

/* .avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
} */
